@charset "utf-8";
/* CSS Document */

/*.menu{
	background-image:url('bg-menu.png');
	height:50px;

	
	-webkit-transition:all 1s; /* Safari and Chrome */
/*	-moz-transition:all 1s; /* FireFox */
/*	-ms-transition:all 1s;/* IE */
/*	-o-transition:all 1s;/* Opera */
/*	transition:all 1s;/* Opera */
	/*
}
*/
img{
	-webkit-transition:all 1s;
/*	-webkit-transition:width 2s;*/
}

 .menu{
	margin:0 auto;
	height:60px;
	outline:1px dashed red;
	background-image:url('bg-menu.png');

	-webkit-transition:all 1s; /* Safari and Chrome */
	-moz-transition:all 1s; /* FireFox */
	-ms-transition:all 1s;/* IE */
	-o-transition:all 1s;/* Opera */
	transition:all 1s;/* Opera */
	overflow:hidden;
}

 .menu ul{
	list-style-type:none;
	float:right;

}

.menu li{
	float:right;
/*	background-image:url('images/top_menu_li_bg_inactive.png');
	background-repeat:no-repeat;*/
}

 .menu li:last-child{
	background:none;
}

 .menu li a{
	display:block;
	padding:3px 0px 3px 6px;
	color:#8e8e8e;
	text-decoration:none;
	-webkit-transition:1s;
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:bold;
}

.menu li a:hover{
	color:#fff;
}
