@charset "utf-8";
/* CSS Document */

body{
	font-family:tahoma, Helvetica, sans-serif;
	font-size:25px;
	color:#8e8e8e;
	direction:rtl;
	
	background-color:#4c4c4c;
}

.dot{
	min-width:1367px;
	width:auto !important;
	width:100%;
	min-height:100%;
	height:auto !important;
	height:100%;
	
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	z-index:-1;
		
	background-image:url('images/pattern_bg_40.png');
}

.content{
	position:absolute;
	bottom:0;
	top:240px;
	text-align:right;
	color:#fff;
	font-family: "My Custom Font";
}

.content p{
	font-size:220px;
}

.content h1{
	padding-right:120px;
}

/***************************************** START CSS ABOUT *****************************/
/***************************************** START SUBMENU ABOUT *****************************/
.nav ul ul{
	float:left !important;
	margin-top:-30px;
}

.nav li li{
	float:none;
	padding-right:5px;
	background:none !important;
}

.nav ul li.about-li{
	width:340px;
}

/***************************************** END SUBMENU ABOUT *****************************/
/***************************************** START OCNTENT-ABOUT *****************************/
div.content-about {
	position:fixed;
	width:950px;
	height:450px;
	left:0;
	top:0;
	right:0;
	bottom:0;
	margin:auto;
}

div.bg-content{
	background-color:#222;
	border-radius:5px;
	padding:5px 8px;
	width:890px;
	height:360px;
}

div.title-about{
	margin:0 auto;
	overflow:hidden;
	height:360px;

	-webkit-transition:all 1s;
	-moz-transition:all 1s; /* FireFox */
	-ms-transition:all 1s;/* IE */
	-o-transition:all 1s;/* Opera */
	transition:all 1s;/* Opera */
}

.share-property{
	width:258px;
	height:130px;
	opacity:0.4;
	color:#fff;
	text-align:justify;
	font-size:16px;
		
	-webkit-transition:all 1s;
	-moz-transition:all 1s; /* FireFox */
	-ms-transition:all 1s;/* IE */
	-o-transition:all 1s;/* Opera */
	transition:all 1s;/* Opera */
}

.share-property h2{
	margin-top:140px;
	text-align:right;
	border-top:1px dotted #fff;
	border-bottom:1px dotted #fff;
	padding-bottom:15px;
}

.share-property p{
	padding-top:5px;
	line-height:1.5;
	font-size:17px;
}

div.environment{
	background-image:url('images/environment.jpg');
	background-repeat:no-repeat;
	
	float:right;
}

.curser:hover{
	opacity:1;
	cursor:pointer;
}

div.service{
	background-image:url('images/service.png');
	background-repeat:no-repeat;
	
	margin-right:288px;
	padding-top:1px;
}

div.member{
	background-image:url('images/member.jpg');
	background-repeat:no-repeat;

	float:left;	
	margin-top:-130px;
}

.share-content{
	opacity:0;
	color:#fff;
	text-align:justify;
	height:0;
	font-size:16px;
	
	-webkit-transition:all 0.8s;
	-moz-transition:all 0.8s; /* FireFox */
	-ms-transition:all 0.8s;/* IE */
	-o-transition:all 0.8s;/* Opera */
	transition:all 0.8s;/* Opera */
}

#comment{
	position:absolute;
	top:80px;
	left:50px;
	right:0;
	line-height:2;
	z-index:-1;
	overflow:hidden;
	height:300px;
	width:830px;
	margin:auto;
}
/************************************************************* END CSS ABOUT ******************************************/
/*********************************************START CSS CONTENT CONATC ******************************************/
.content-contact{
	width:830px;
	height:435px;
	position:fixed;
	left:0;
	top:0;
	right:0;
	bottom:0;
	margin:auto;
}

.buttom-top ,.buttom-down{
	background-image:url('images/pil_opp_ansatte_liste.png');
	background-repeat:no-repeat;
	background-position:center top;
	
	padding-top:1px;
	height:40px;
}

.center{
	height:360px;
	background-color:#222;
	border-radius:5px;
	padding-right:15px;	
}

.buttom-down{
	background-image:url('images/pil_ned_ansatte_liste.png');
	margin-top:10px;
}
.details{
	height:350px;
	margin:0 auto;
	margin-top:10px;
	padding-top:1px;
	
	-webkit-transition:all 1s;
	-moz-transition:all 1s;
	-ms-transition:all 1s;
	-o-transition:all 1s;
	transition:all 1s;
}
.right-detail{
	margin-top:15px;
	font-size:15px;
	line-height:1.7;

	text-align:justify;
	color:#aaa;
}
.left-detail{
	margin-top:15px;
}
/**********************************FORM CONTACT *********************************/
.contact-form {
	margin: 0 auto;
	position: relative;
	text-align:right;
}

button {
	background-image:url('images/submit.png');
	background-repeat:no-repeat;
	
	height:25px;
	width:75px;
	border: none;
	cursor:pointer;
}

.email{
	text-align:left;
}

.right-detail a{
	color:#ccc;
	text-decoration:none;
}

.name-contact , .email-contact , textarea{
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	
	-webkit-transition: all 1.5s ease;
	-moz-transition: all 1.5s ease;
	-ms-transition: all 1.5s ease;
	-o-transition: all 1.5s ease;
	transition: all 1.5s ease;
	
	background:#333 url('images/8bcLQqF.png') no-repeat;
	border: 1px solid #c8c8c8;
	font: 17px Helvetica, Arial, sans-serif;
	padding: 10px 45px 10px 25px;
	color: rgba(0,0,0,0.3);
	text-shadow:1px 1px 0px #ccc,-1px -1px 0px #222;
}

.name-contact:focus , .email-contact:focus , .textarea:focus{
	background-color: #fff;
	color:#aaa;
	text-shadow:none;
	outline: none;
}

.name-contact { 
	background-position:215px 10px !important;
}

.email-contact { 
	background-position:315px -70px !important;
}

.textarea {
	 background-position:328px -110px !important; 
}

.bg-map{
	widows:350px;
	height:360px;
	position:fixed;
	z-index:-1;
	
	background-image:url('images/dr-pooya-location.png');
	background-repeat:no-repeat;
	background-position:center top;

	-webkit-transition:all 1s;
	-moz-transition:all 1s;
	-ms-transition:all 1s;
	-o-transition:all 1s;
	transition:all 1s;
}

/*********************************************START CSS CONTENT PROJECT ******************************************/
.c-prj{
	
	margin:0 auto;
}
.content-project{
	position:relative;
	margin:170px auto 0;
	height:420px;
	float:left;
	overflow:hidden;

	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-ms-transition: all 0.8s;
	-0-transition: all 0.8s;
	transition: all 0.8s;
	
}

.share-prj{
	position:relative;
	cursor:pointer;
	opacity:0.4;
	margin-right:5px;
	margin-top:2px;
	width:160px;
	color:#fff;
	
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.text-prj{
	position:absolute;
	top:90px;
	right:0px;
	width:inherit;
	height:0px;
	overflow:hidden;
	text-align:center;
	
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	background-color:#000;
	
	-webkit-transition:all 0.5s;
}
.share-prj:hover .text-prj{
	top:67px;
	height:25px;
	opacity:0.5;
}

.share-prj:hover{
	opacity:1;
}
/********************************************* START CSS SLIDER PROJECT ******************************************/
/*********************************************END CSS CONTENT PROJECT ******************************************/
div.con-document{
	position: fixed;
	z-index: 6;
	left:0;
	right:0;
	top:0;
	bottom:0;
	width:915px;
	height:390px;
	margin:auto;
}

div.con-document div.buttom-down , div.con-document div.buttom-top{
	margin-right:40px;
}

div.content-document{
	height:300px;
	width:inherit;
	padding-top:10px;
	padding-left:70px;
	border:1px solid #111;
	border-radius:5px;
	
	background-color:#222;
}

div.content-document a{
	margin-left:-33px;
}

div.content-document div.img-squar{
	width:450px;
	padding-top:10px;
	margin:auto;
}
